{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}


{% block body %}
    <div class="flex flex-col items-center justify-center min-h-screen">
        {% if error %}
            <div class="error-message">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <form action="{{ path('login') }}" method="post" class="mx-auto mt-16 max-w-3xl sm:mt-20 px-4 sm:px-6 lg:px-8 w-full">
            <div class="border-b border-gray-900/10 pb-12 space-y-12 w-full ">
                <div class="pb-12">
                    <h2 class="text-base/7 font-semibold text-gray-900 text-center">Connexion</h2>
                    <p class="mt-1 text-sm/6 text-gray-600 text-center">Connectez-vous afin d'avoir accès aux meilleurs équipements.</p>
                    <div class="mt-10 flex flex-col items-center justify-center">
                        <div class="w-full max-w-md">
                            <label for="inputEmail" class="block text-sm/6 font-medium text-gray-900">Username</label>
                            <div class="mt-2">
                                <input id="inputEmail" name="_username" type="email" autocomplete="email" required autofocus
                                       placeholder="Adresse email" value="{{ last_username }}"
                                       class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-blue-600 sm:text-sm/6" />
                            </div>
                        </div>
                    </div>
                    <div class="mt-10 flex flex-col items-center justify-center">
                        <div class="w-full max-w-md">
                            <label for="inputPassword" class="block text-sm/6 font-medium text-gray-900">Mot de passe</label>
                            <div class="mt-2">
                                <input id="inputPassword" name="_password" type="password" autocomplete="current-password" required
                                       placeholder="Mot de passe"
                                       class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-blue-600 sm:text-sm/6" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-10 flex flex-col items-center justify-center">
                    <div class="w-full max-w-md">
                        <button type="submit" class="w-full rounded-md bg-green-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-green-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Se Connecter</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="flex flex-col items-center justify-center w-full mt-6 text-[1.05rem]">
            <div class="flex flex-wrap items-center justify-center gap-2 w-full">
                {% if not app.user %}
                    <span>Pas de compte ?</span>
                    <a href="{{ path('user_register') }}" class="text-black font-semibold ml-2 transition-colors hover:text-green-600">Créer un compte</a>
                {% elseif 'ROLE_ADMIN' in app.user.roles %}
                    <a href="{{ path('admin_dashboard') }}" class="text-black font-semibold ml-2 transition-colors hover:text-blue-700">Administration</a>
                {% else %}
                    <a href="{{ path('reservation_index') }}" class="text-black font-semibold ml-2 transition-colors hover:text-blue-700">Mes réservations</a>
                {% endif %}
                <span class="hidden sm:inline-block mx-2 text-gray-400">|</span>
                <a href="{{ path('app_home') }}" title="Retour" class="flex items-center text-black font-semibold transition-colors hover:text-green-600">
                    <span class="text-xl mr-2">&#8592;</span> Retour
                </a>
            </div>
        </div>
    </div>
{% endblock %}
